<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpBinding_IDesignerRepositoryClientService" maxReceivedMessageSize="20000000"
                maxBufferSize="20000000"
                maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32"
                 maxArrayLength="200000000"
                 maxStringContentLength="200000000"/>
              </binding>
                <binding name="BasicHttpBinding_IDesignerRepositoryClientService1" maxReceivedMessageSize="20000000"
                  maxBufferSize="20000000"
                  maxBufferPoolSize="20000000">
                    <security mode="Transport" />
                  
                  <readerQuotas maxDepth="32"
                   maxArrayLength="200000000"
                   maxStringContentLength="200000000"/>
                </binding>
                <binding name="BasicHttpBinding_IDesignerRepositoryService" maxReceivedMessageSize="20000000"
                  maxBufferSize="20000000"
                  maxBufferPoolSize="20000000">
                  <readerQuotas maxDepth="32"
                   maxArrayLength="200000000"
                   maxStringContentLength="200000000"/>
                </binding>
                <binding name="BasicHttpBinding_IDesignerRepositoryService1" maxReceivedMessageSize="20000000"
                  maxBufferSize="20000000"
                  maxBufferPoolSize="20000000">
                    <security mode="Transport" />
                <readerQuotas maxDepth="32"
                 maxArrayLength="200000000"
                 maxStringContentLength="200000000"/>
              </binding>
                <binding name="BasicHttpBinding_IAccountService" />
                <binding name="BasicHttpBinding_IAccountService1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/decisions/Primary/API/DesignerRepositoryClientService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDesignerRepositoryClientService"
                contract="DesignerRepositoryClient.IDesignerRepositoryClientService"
                name="BasicHttpBinding_IDesignerRepositoryClientService" />
            <endpoint address="https://localhost/decisions/Primary/API/DesignerRepositoryClientService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDesignerRepositoryClientService1"
                contract="DesignerRepositoryClient.IDesignerRepositoryClientService"
                name="BasicHttpBinding_IDesignerRepositoryClientService1" />
            <endpoint address="http://tirade.workflow.com/decisions/Primary/API/DesignerRepositoryService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDesignerRepositoryService"
                contract="RepositoryServer.IDesignerRepositoryService" name="BasicHttpBinding_IDesignerRepositoryService" />
            <endpoint address="https://localhost/decisions/Primary/API/DesignerRepositoryService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDesignerRepositoryService1"
                contract="RepositoryServer.IDesignerRepositoryService" name="BasicHttpBinding_IDesignerRepositoryService1" />
            <endpoint address="http://localhost/decisions/Primary/API/AccountService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountService"
                contract="AccSvc.IAccountService" name="BasicHttpBinding_IAccountService" />
            <endpoint address="https://localhost/decisions/Primary/API/AccountService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountService1"
                contract="AccSvc.IAccountService" name="BasicHttpBinding_IAccountService1" />
        </client>
    </system.serviceModel>
</configuration>